.navy-filter {
  /*navy*/
  filter: invert(9%) sepia(45%) saturate(2722%) hue-rotate(226deg) brightness(85%) contrast(119%);
}

.navy-filter:hover {
  /*teal*/
 filter: invert(8%) sepia(100%) saturate(7120%) hue-rotate(250deg) brightness(103%) contrast(141%);
}


.black-blue-filter:hover {
 filter: invert(8%) sepia(100%) saturate(7120%) hue-rotate(250deg) brightness(103%) contrast(141%);
}


.white-orange-filter {
 filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(102deg) brightness(101%) contrast(101%);
}


.white-orange-filter:hover {
 filter: invert(68%) sepia(48%) saturate(3492%) hue-rotate(1deg) brightness(103%) contrast(104%);
}

.white-red-filter {
filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(102deg) brightness(101%) contrast(101%);

}

.white-purple-filter {
filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(102deg) brightness(101%) contrast(101%);
}

.white-purple-filter:hover {
filter: invert(15%) sepia(87%) saturate(3251%) hue-rotate(273deg) brightness(64%) contrast(130%);}


.white-red-filter:hover {
filter: invert(18%) sepia(49%) saturate(6834%) hue-rotate(346deg) brightness(82%) contrast(93%);
}


.white-teal-filter {
 filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(194deg) brightness(104%) contrast(100%);
}

.white-teal-filter:hover {
  /*white*/
  filter: invert(75%) sepia(99%) saturate(775%) hue-rotate(100deg) brightness(101%) contrast(101%);
}


.black-teal-filter:hover {
filter: invert(75%) sepia(99%) saturate(775%) hue-rotate(100deg) brightness(101%) contrast(101%);
}


.teal-filter {
filter: invert(8%) sepia(100%) saturate(7120%) hue-rotate(250deg) brightness(103%) contrast(141%);
}

.green-filter:hover {
   filter: invert(58%) sepia(69%) saturate(3112%) hue-rotate(76deg) brightness(106%) contrast(116%);
 }

.white-green-filter {
filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(102deg) brightness(101%) contrast(101%);
}

.white-green-filter:hover {
  filter: invert(39%) sepia(94%) saturate(685%) hue-rotate(127deg) brightness(84%) contrast(101%);
}

.white-red-filter {
filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(102deg) brightness(101%) contrast(101%);
}

.white-red-filter:hover {
filter: invert(33%) sepia(92%) saturate(3455%) hue-rotate(336deg) brightness(96%) contrast(121%);
}


.white-egreen-filter {
filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(102deg) brightness(101%) contrast(101%);
}

.white-egreen-filter:hover {
filter: invert(67%) sepia(13%) saturate(3662%) hue-rotate(88deg) brightness(86%) contrast(80%);}


.white-lightgreen-filter {
filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(102deg) brightness(101%) contrast(101%);
}

.white-lightgreen-filter:hover {
filter: invert(40%) sepia(98%) saturate(920%) hue-rotate(81deg) brightness(92%) contrast(103%);
}

.white-pink-filter {
  filter: invert(98%) sepia(0%) saturate(763%) hue-rotate(59deg) brightness(119%) contrast(100%);}

.white-pink-filter:hover {
filter: invert(42%) sepia(91%) saturate(2134%) hue-rotate(326deg) brightness(101%) contrast(101%);
}


.black-pink-filter {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(96%) contrast(104%);}
.black-pink-filter:hover {
filter: invert(42%) sepia(91%) saturate(2134%) hue-rotate(326deg) brightness(101%) contrast(101%);
}


#page-content p {
  text-align: left;
}

@media (max-width: 1023px) {
  #page-content h4 {
    font-size: 1.4rem;
  }
}
@media (min-width: 1024px) {
#page-content p {
  font-size: 1.07rem !important;
}

#page-content h4 {
  font-size: 1.5rem;
}
}

@media (min-width: 1200px) {
#page-content p {
  font-size: 1.1rem !important;
}

#page-content h4 {
  font-size: 1.6rem;
}

}

@media (min-width: 1366px) {
#page-content p {
  font-size: 1.2rem !important;
}

#page-content h4 {
  font-size: 1.65rem;
}
  .col-xl-8 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }


}

@media (min-width: 1920px) {
#page-content p {
  font-size: 1.4rem !important;
}

#page-content h4 {
  font-size: 1.65;
}
}

@media (min-width: 2560px) {
#page-content p {
  font-size: 1.5rem !important;
}

#page-content h4 {
  font-size: 1.7;
}

    .col-xl-8 {
  -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

}




.navbar-toggler-icon {

 background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0,255,206,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.teal {
  color: #00FFCE !important;
}

/*#page-content {
  flex: 1 0 auto;
}*/



.nav-link {
	font-weight: 500;
	font-size: 1.2rem;
	/*color: #010033;*/
  /*color: #0600FF;*/
color: #00FFCE;
/*padding-top: 5%;*/
}
.nav2-link {
	font-weight: 500;
	font-size: 1.2rem;
	/*color: #010033;*/
  /*color: #0600FF;*/
color: #00FFCE;
/*padding-top: 5%;*/
}



.nav-link:hover {
  color:  white;
  border-bottom: none !important;
}
.nav2-link:hover {
  color:  white;
  border-bottom: none !important;
}

.navbar-toggler {
  border-color: transparent !important;
}

/*more than 1 card per row*/
@media screen and (min-width: 751px) {
  #sticky-footer {margin-top: 5% !important;}
  .navbar {margin-top: 1%;}
  .navbar-brand {
    font-size: 2.8rem;
  }
  .navbar2-brand {
    font-size: 2.8rem;
  }
 }

 @media screen and (max-width: 750px) {
  #sticky-footer {margin-top: 15% !important;}
  .navbar {margin-top: 2.5%;}
}

@media screen and (min-width: 570px) {
  .navbar-brand {
    font-size: 2.5rem;
  }
  .navbar2-brand {
    font-size: 2.5rem;
  }

}

@media screen and (max-width: 569px) {
  .navbar-brand {
    font-size: 1.8rem;
  }
  .navbar2-brand {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 390px) {
  .navbar-brand {
    font-size: 1.6rem;
    text-align: left;
  }
  .navbar2-brand {
    font-size: 1.6rem;
    text-align: left;
  }

  .navbar {
    padding: 7px;
  }
}

@media screen and (max-width: 330px) {
  .navbar-brand {
    font-size: 1.35rem;
  }
  .navbar2-brand {
    font-size: 1.35rem;
  }
}


@media screen and (max-width: 569px) {
  .navbar-toggler-icon {
  margin-top: .65vh;
}
}
@media screen and (min-width: 570px) {
.navbar-toggler-icon {
  margin-top: 1.65vh;
}
}

@media screen and (max-width: 334px) {
  .navbar-toggler-icon {
  margin-top: 0vh;
}
}


.nav-link {
	font-weight: 500;
	font-size: 1.2rem;
	/*color: #010033;*/
  /*color: #0600FF;*/
color: #00FFCE ;
/*padding: .8rem 1rem !important;*/
padding-top: 1.15rem !important;
}

.nav2-link {
	font-weight: 500;
	font-size: 1.2rem;
	/*color: #010033;*/
  /*color: #0600FF;*/
color: #00FFCE ;
/*padding: .8rem 1rem !important;*/
padding-top: 1.15rem !important;
}

@media (max-width:960px) {
  .nav-link {
    padding: 0rem !important; 
  }
  .nav2-link {
    padding: 0rem !important; 
  }
}

.navbar-toggler {
  border-color: transparent !important;
}


.navbar-brand {
	/*width: 10%;*/
	text-decoration: none;
	/*font-size: 3vw;*/
	/*height: 100%;*/
	padding: 0;
	font-family: 'ministry', sans-serif;
	font-weight: 700;
	flex-shrink: 2;
	/*color: #0600FF;*/
  color: #00FFCE;
}
.navbar2-brand {
	/*width: 10%;*/
	text-decoration: none;
	/*font-size: 3vw;*/
	/*height: 100%;*/
	padding: 0;
	font-family: 'ministry', sans-serif;
	font-weight: 700;
	flex-shrink: 2;
	/*color: #0600FF;*/
  color: #00FFCE;
}

.navbar-brand:hover {
color: white;
border-bottom: none !important;
}
.navbar2-brand:hover {
  color: white;
  border-bottom: none !important;
  }
  
.navbar-nav {
	margin-left: 1rem;

}

.nav-item {
	margin-right: 2rem;

}

#sticky-footer {
  flex-shrink: none;
  /*background-color: #00FFCE !important;*/
  background-color: white !important;
  color: #02012F !important;
  display: block;
  width: 100vw;
}


/*QUESTIONABLE - MARGINS FOR ARTICLES?*/
.article {
	text-align: left;
	margin-top: 1rem;
}

.article-placeholder {
	margin-top: 1rem;
	margin-left: 2rem;
	margin-right: 2rem;
}


