.navy-filter {
  /*navy*/
  filter: invert(9%) sepia(45%) saturate(2722%) hue-rotate(226deg) brightness(85%) contrast(119%);
}

.navy-filter:hover {
  /*teal*/
 filter: invert(8%) sepia(100%) saturate(7120%) hue-rotate(250deg) brightness(103%) contrast(141%);
}


.black-blue-filter:hover {
 filter: invert(8%) sepia(100%) saturate(7120%) hue-rotate(250deg) brightness(103%) contrast(141%);
}



.teal-filter {
filter: invert(8%) sepia(100%) saturate(7120%) hue-rotate(250deg) brightness(103%) contrast(141%);
}


.white-green-filter {
filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(102deg) brightness(101%) contrast(101%);
}

.white-green-filter:hover {
  filter: invert(39%) sepia(94%) saturate(685%) hue-rotate(127deg) brightness(84%) contrast(101%);
}

.white-red-filter {
filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(102deg) brightness(101%) contrast(101%);
}

.white-red-filter:hover {
filter: invert(33%) sepia(92%) saturate(3455%) hue-rotate(336deg) brightness(96%) contrast(121%);
}



#page-content p, .mt-body p {
  text-align: left;
}
@media (min-width: 1024px) {
#page-content p, .mt-body p {
  font-size: 1.07rem !important;
}
}

@media (min-width: 1200px) {
#page-content p, .mt-body p {
  font-size: 1.1rem !important;
}
}

@media (min-width: 1366px) {
#page-content p, .mt-body p {
  font-size: 1.2rem !important;
}

  .col-xl-8 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }


}

@media (min-width: 1920px) {
#page-content p, .mt-body p {
  font-size: 1.4rem !important;
}
}

@media (min-width: 2560px) {
#page-content p, .mt-body p {
  font-size: 1.6rem !important;
}

    .col-xl-8 {
  -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

}




.navbar-toggler-icon {

 background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0,255,206,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.teal {
  color: #00FFCE !important;
}

#page-content {
  flex: 1 0 auto;
}

.nav-link {
	font-weight: 500;
	font-size: 1.2rem;
	/*color: #010033;*/
  /*color: #0600FF;*/
color: #00FFCE;
/*padding-top: 5%;*/
}


.nav-link:hover {
  color:  white !important;
  border-bottom: none !important;
}

.navbar-toggler {
  border-color: transparent !important;
}

/*more than 1 card per row*/
@media screen and (min-width: 751px) {
  #sticky-footer {margin-top: 5% !important;}
  .navbar {margin-top: 1%;}
  .navbar-brand {
    font-size: 2.8rem;
  }
 }

 @media screen and (max-width: 750px) {
  #sticky-footer {margin-top: 15% !important;}
  .navbar {margin-top: 2.5%;}
}

@media screen and (min-width: 570px) {
  .navbar-brand {
    font-size: 2.5rem;
  }

}

@media screen and (max-width: 569px) {
  .navbar-brand {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 390px) {
  .navbar-brand {
    font-size: 1.6rem;
    text-align: left;
  }

  .navbar {
    padding: 7px;
  }
}

@media screen and (max-width: 330px) {
  .navbar-brand {
    font-size: 1.3rem;
  }
}

.nav-link {
	font-weight: 500;
	font-size: 1.2rem;
	/*color: #010033;*/
  /*color: #0600FF;*/
color: #00FFCE ;
padding: .8rem 1rem !important;
}

.navbar-toggler {
  border-color: transparent !important;
}


.navbar-brand {
	/*width: 10%;*/
	text-decoration: none;
	/*font-size: 3vw;*/
	/*height: 100%;*/
	padding: 0;
	font-family: 'ministry', sans-serif;
	font-weight: 700;
	flex-shrink: 2;
	/*color: #0600FF;*/
  color: #00FFCE;
}


.navbar-brand:hover {
color: white!important;
border-bottom: none !important;
}

.navbar-nav {
	margin-left: 1rem;

}

.nav-item {
	margin-right: 2rem;

}

#sticky-footer {
  flex-shrink: none;
  /*background-color: #00FFCE !important;*/
  background-color: white !important;
  color: #02012F !important;
}


/*QUESTIONABLE - MARGINS FOR ARTICLES?*/
.article {
	text-align: left;
	margin-top: 1rem;
}

.article-placeholder {
	margin-top: 1rem;
	margin-left: 2rem;
	margin-right: 2rem;
}


