
@import url("https://use.typekit.net/grm6kxy.css");

header, body {
  background-color: 
  /*#02012F*/
  #01001f
  /*black*/
  ;
}


body{
	/*background-color: #00FFCE12;*/
	/*background-color: #F3FDF2;*/
	/*background-color: #EDFFFC;*/
}

.article-body p {
  text-align: justify;
  color: white !important;
}

/*more than 1 card per row*/
@media screen and (min-width: 751px) {
  .article-card {
    width: 33%;
    margin-top: 3%;
  } 

  #lujain-card .card-title {
    margin-left: 0%; margin-bottom:-2%; margin-right: 35%;
  }

  #jihyun-card .card-title {
    margin-left: 25%;
    margin-bottom: 45%;
  }

  #rastra-card .card-title {
    margin-right: 25%; margin-bottom: -5%;
  }

  #munib-card .card-title {
    margin-right: 20%;margin-bottom: 43%;
  }

  #tom-card .card-title {
    margin-left: 28%;
    margin-bottom: 8%;
    margin-right: -2%;
  }

  #tona-card .card-title {
    margin-right: -3%; margin-bottom: 0%; margin-left: 25%;
  }

  #grace-card .card-title {
    margin-right: 20%; margin-left: 5%; margin-bottom: 0%; height: auto;
  }

  #origin-card .card-title {
    margin-right: 0%; margin-bottom: 45%; margin-left: 35%;
    margin-right: -1%;
  }
}


/*add middle tablet mode*/

/*only 1 card per row*/
@media screen and (max-width: 750px) {
  .article-card {
    width: 80%;
    margin-top: 10%;
    margin-bottom: 7% !important;
  } 

  .article-card img {
    margin-top: 0% !important;
/*    margin-bottom: 15% !important;*/
  }

  #lujain-card .card-title {
    margin-left: 22%; margin-bottom: -7%;
  }

  #jihyun-card .card-title {
   margin-right: 30%; margin-bottom: -7%;
 }

 #rastra-card .card-title {
  margin-right: 25%; margin-bottom: -5%;
}

#munib-card .card-title {
  margin-right: 20%;margin-bottom: -5%;
}

#tom-card .card-title {
 margin-left: 23%; margin-top: 38%; margin-bottom: -5%;
}

#tona-card .card-title {
   margin-bottom: -8%; margin-left: 15%; margin-right: -2%;
}

#grace-card .card-title {
  margin-right: 20%; margin-left: 5%; margin-bottom: -5%; height: auto;
}

#origin-card .card-title {
  margin-right: 0%; margin-bottom: -7%; margin-left: 20%;
}

#origin-card img {
  margin-left: 3% !important;
}

}


#lujain-card .card-title {
  background: #6304b8;
}

#jihyun-card .card-title {
  background:#0600ff;
}

#rastra-card .card-title {
  background:   #1b8e00;
}

#tona-card .card-title {
 background:#0600ff;
}

#tom-card .card-title {
  background: #C500F5; 

}

#munib-card .card-title {
  background: #003329;
}

#grace-card .card-title {
 background: #37375b;
}

#origin-card .card-title {
  background: #0600fe;
}



p, a {
	font-size: 100%;
	font-family: 'ministry', sans-serif;
	/*font-weight: 300;*/
}

p {
  font-weight: 300;
}



html,
body {
  height: 100%;
}

/*#page-content {
  flex: 1 0 auto;
  }*/


  .bg-dark {
   background-color: black !important;
 }


 .p5div {
  width: 100%;
  height: 100%;

}


.article-title h1, h1 {
	font-family: 'stenciletta-solid';
	font-weight: 700;
	/*color: #010033;*/
  /*color: white;*/
}

.byline {
	font-weight: 400;
	/*color: #010033;*/
  color: #00FFCE;
}

.author {
	/*font-weight: 500;*/
	/*color: #0500CC;*/
  color: #00FFCE;
}

.author:hover {
  color: white;
}

.date {
	font-weight: 400;
	color: white;

}

.lead {
	font-size: 1.1rem;
	font-weight: 300;
}

#page-content {
	margin-right: 2px;
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.article-card {
  /*width: 33%;*/
  /*height: 50%;*/
  /*margin-right: 5px;*/
  /*margin-left: 2%;*/
  position: relative;
  /*margin-top: 3%;*/
  min-width: 300px;
  /*background: black; */
  margin-bottom: 1.8%;
  margin-left: .5%
  margin-right: .5%;

}


.article-card img {
  width: 85%;
  /*height: auto;*/
  z-index: 0;
}

@media (min-width: 1450px) {
  .container {
    max-width: 1250px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1300px;
  }
}


.article-card .image1 {
  box-shadow: -8px 8px 0px rgba(255,255,255,1);
  transition: 0.3s;
}


.article-card .image2 {
  /*box-shadow: 10px 10px 0px rgba(1,0,61,1);*/
  /*box-shadow: 10px 10px 0px rgba(0,255,206,1);*/
  box-shadow: 8px 8px 0px rgba(255,255,255,1);
  transition: 0.3s;
}

#lujain-card .image1:hover{
  box-shadow: -11px 11px 0px #6304b8;
  transition: 0.3s;
}


#jihyun-card .image2:hover{
  box-shadow: 11px 11px 0px #0600ff;
  transition: 0.3s;
}

#rastra-card .image1:hover{
  box-shadow: -11px 11px 0px #1b8e00;
  transition: 0.3s;
}

#tona-card .image1:hover{
  box-shadow: -11px 11px 0px #0600ff;
  transition: 0.3s;
}

#grace-card .image1:hover{
  box-shadow: -11px 11px 0px #37375b;
  transition: 0.3s;
}


#tom-card .image2:hover{
  box-shadow: 11px 11px 0px #C500F5;
  transition: 0.3s;
}

#munib-card .image2:hover{
  box-shadow: 11px 11px 0px #003329;
  transition: 0.3s;
}

#origin-card .image2:hover{
  box-shadow: 11px 11px 0px #6304b8;
  transition: 0.3s;
}


.article-card .image1:hover {
  /*box-shadow: -10px 10px 0px rgba(6,0,255,1);*/
  /*box-shadow: -10px 10px 0px rgba(1,0,61,1);*/
  box-shadow: -10px 10px 0px rgba(0,255,206,1);
  transition: 0.3s;
}

.article-card .image2:hover {
  /*box-shadow: 10px 10px 0px rgba(6,0,255,1);*/
  /*box-shadow: -10px 10px 0px rgba(1,0,61,1);*/
  box-shadow: 10px 10px 0px rgba(0,255,206,1);
  transition: 0.3s;
}




/*.card-title:hover ~ .image1 {
  box-shadow: -10px 10px 0px rgba(6,0,255,1);
}
*/

.card-title {
  position: absolute; 
  bottom: 0; 
  background: #FF2138;
  /*background: rgba(0, 0, 0, 0.5); /* Black see-through */*/
  /*color: #f1f1f1; */
  /*width: 70%;*/
  height: auto;
  width: auto;
  transition: .5s ease;
  padding: 10px;
/*  margin-left: 30%;
margin-bottom: 5%;*/
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
min-width: 250px;
}

.card-title h2 {
  font-family: 'ministry', sans-serif;
  font-weight: 500;
  color: white;
  /*color: #010033;*/
  text-align: left;
  /*margin: 0;*/
  font-size: 1rem;
}

.card-link .card-title:hover ~ .card-img {
  background-color: black;
}


.card-title p {
  text-align: left;
  color: white;
  /*color: #010033;*/
  font-family: 'ministry', sans-serif !important;
  font-weight: 300;
  font-size: .8rem;
  margin-bottom: 0%;
}



#mc_embed_signup input{
  font-family: 'ministry', sans-serif;
  font-weight: 400;
}

#mc_embed_signup .clear input {
  color: #02012F!important;
  background-color: #00FFCE !important;
}

#mc_embed_signup .clear input:hover {
  /*color: #00FFCE !important;*/
  color: white !important;
  background-color: #0600FF !important;
}


#coming_soon {
  width: 100%; text-align: center; font-family: 'ministry' !important; margin-top: 15%;

  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#coming_soon h1 {
  font-size: 3rem;
  color: #CC1B2C; 
  margin-bottom: 1%;

}

#coming_soon h4 {
  color: white;
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
}


@media (max-width: 769px) {
  #mc_embed_signup form {
    width: 70% !important;
    margin-left: 15%;
  }

  #coming_soon {
    margin-top: 40% !important;
  }

}


@media (max-width: 420px) {
  #coming_soon {
    margin-top: 60% !important;
  }
}


/*@media (max-width: 376px) {
#coming_soon {
  margin-top: 65% !important;
}
}*/

@media (max-width: 321px) {
  #coming_soon {
    margin-top: 55% !important;
  }
}


.about-link {
  /*margin-top: 5%;*/

}


.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.row            { 
  -webkit-flex-direction: row; 
  flex-direction: row;
}

.column { 
  -webkit-flex-direction: column; 
  flex-direction: column; 
  float: left;
}



.card-title p {
  font-size: .925rem;
}


@media (min-width: 1366px) {
  .card-title  p {
    font-size: 1rem !important;
  }


}

@media (min-width: 1920px) {
  .card-title  p {
    font-size: 1.025rem !important;
  }
}

@media (min-width: 2560px) {
  .card-title  p {
    font-size: 1.05rem !important;
  }

}




.white-teal-filter {
 filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(194deg) brightness(104%) contrast(100%);
}

.white-teal-filter:hover {
  /*white*/
  filter: invert(75%) sepia(99%) saturate(775%) hue-rotate(100deg) brightness(101%) contrast(101%);
}

