
@import url("https://use.typekit.net/grm6kxy.css");

.navbar-brand.abs
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
      /*  margin-left: 6rem;*/
    }

.navbar {

}

body{
	/*background-color: #00FFCE12;*/
	/*background-color: #F3FDF2;*/
	/*background-color: #EDFFFC;*/
}

.navbar-toggler-icon {

 background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
	height: 100%;
}

.navbar-collapse {
	height: 100%;
}

.nav-link {
	font-weight: 500;
	font-size: 1.2rem;
	color: #010033

}

.navbar-brand {
	/*width: 10%;*/
	text-decoration: none;
	font-size: 2.5rem;
	height: 100%;
	padding: 0;
	font-family: 'ministry';
	font-weight: 700;
	flex-shrink: 2;
	/*teal*/
	/*color: #00CCA4; */
	
	/*orange*/
	/*color: #CC8200;*/
	
	/*blue*/
	/*color: #0500CC;*/

	color: #0600FF;

	/*navy*/
	/*color: #020066;*/

	/*green*/
	/*color: #0DB000;*/


}

#sublogo {
	/*orange*/
	color: #FFA300;
}

p, a {
	font-size: 100%;
	font-family: 'Ministry';
	font-weight: 300;
	/*color: white;*/
}

.navbar-nav {
	margin-left: 1rem;

}

a {
	color: #0600FF;
}

.nav-item {
	margin-right: 2rem;

}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
  background-color: #010033 !important;
}

.bg-dark {
	background-color: black !important;
}


.article {
	text-align: left;
	margin-top: 1rem;
}

.article-body {
	text-align: justify;
}
.article-placeholder {
	margin-top: 1rem;
	margin-left: 1.7rem;
	margin-right: 1.7rem;
}


.articleTitle, h1 {
	font-family: 'stenciletta-solid';
	font-weight: 700;
	color: #010033;
}

.byline {
	font-weight: 400;
	color: #010033;
}

.author {
	font-weight: 400;
	color: #0500CC;
}

.date {
	font-weight: 400;
	color: #010033;

}

a .no-span {
    display: table;
    white-space: nowrap;
    &:before, &:after {
      border-top: 1px solid green;
      content: '';
      display: table-cell;
      position: relative;
      top: 0.5em;
      width: 45%;
    }
    &:before { right: 1.5%; }
    &:after { left: 1.5%; }
}