
@import url("https://use.typekit.net/grm6kxy.css");

header, body {
  background-color: 
  /*#FFFAF0*/
  /*teal*/
  /*#00FFCE*/
  /*light teal*/
  /*#99FFEB*/
  /*very light teal*/
  /*#EDFFFC*/
  /*blue*/
/*#00FFCE*/
/*darkblue*/
/*#010033*/
#02012F
  ;

}

.navy-filter {
  filter: invert(9%) sepia(45%) saturate(2722%) hue-rotate(226deg) brightness(85%) contrast(119%);
}
/*.navbar-brand.abs
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }*/


body{
	/*background-color: #00FFCE12;*/
	/*background-color: #F3FDF2;*/
	/*background-color: #EDFFFC;*/
}

.navbar-toggler-icon {

 background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0,255,206,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/*.navbar-toggler {
	height: 100%;
}*/

/*.navbar-collapse {
	height: 100%;
}*/

.nav-link {
	font-weight: 500;
	font-size: 1.2rem;
	/*color: #010033;*/
  /*color: #0600FF;*/
color: #00FFCE !important;
}

.navbar-toggler {
  border-color: transparent !important;
}


/*more than 1 card per row*/
@media screen and (min-width: 751px) {
  #sticky-footer {margin-top: 5% !important;}
  .navbar {margin-top: 1%;}
  .navbar-brand {
    font-size: 2.8rem;
  }
  .article-card {
    width: 33%;
    margin-top: 3%;
    } 

    #tona-card .card-title {
      margin-left: 30%; margin-bottom: 0%; 
    }

    #tom-card .card-title {
      margin-right: 30%; margin-bottom: 35%;
    }

    #rastra-card .card-title {
      margin-right: 20%; margin-left: 5%; margin-bottom: 0%;"
    }

    #munib-card .card-title {
      margin-right: 20%;margin-bottom: 0;
    }

    #jihyun-card .card-title {
      margin-left: 30%; margin-bottom: 45%;
    }

    #lujain-card .card-title {
      margin-right: 0%; margin-bottom: 5%; margin-left: 25%;
    }

    #grace-card .card-title {
      margin-right: 20%; margin-left: 5%; margin-bottom: 0%; height: auto;
    }
}


/*add middle tablet mode*/

/*only 1 card per row*/
@media screen and (max-width: 750px) {
  #sticky-footer {margin-top: 15% !important;}
  .navbar {margin-top: 2.5%;}
  .article-card {
    width: 80%;
    margin-top: 10%;
    } 

     #tona-card .card-title {
      margin-left: 22%; margin-bottom: 0%;
    }

    #tom-card .card-title {
     margin-right: 30%; margin-bottom: 38%;
    }

    #rastra-card .card-title {
      margin-right: 22%; margin-left: 0%; margin-bottom: 0%;
    }

    #munib-card .card-title {
      margin-right: 20%;margin-bottom: 0;
    }

    #jihyun-card .card-title {
       margin-left: 23%; margin-bottom: 38%;
    }

    #lujain-card .card-title {
      margin-right: 0%; margin-bottom: 5%; margin-left: 22%;
    }

    #grace-card .card-title {
      margin-right: 20%; margin-left: 5%; margin-bottom: 0%; height: auto;
    }

}

@media screen and (min-width: 570px) {
  .navbar-brand {
    font-size: 2.5rem;
  }

}

@media screen and (max-width: 569px) {
  .navbar-brand {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 390px) {
  .navbar-brand {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 330px) {
  .navbar-brand {
    font-size: 1.3rem;
  }
}

    #tona-card .card-title {
      background: #CC1B2C;
      /*background: #FF2138;*/
      /*background: #FF4E54;*/
    }

    #tom-card .card-title {
      background:#CC8200;
      /*background: #10DD00;*/
      /*background: #40E333;*/
    }

    #rastra-card .card-title {
      background:  #098500;
      /*background:#0DB000; */
      /*background:#FFB533;*/
      /*background: #FFA200;*/
    }

    #munib-card .card-title {
       background:#CC8200;
      /*background: #F533FF;*/
      /*background: #E7FF00;*/
    }

    #jihyun-card .card-title {
      background: #0500CC; 
      /*background: #EBFF33;*/
      /*background: #F100FF;*/
    }

    #lujain-card .card-title {
      background: #CC1B2C;
      /*background: #FF4E5F;*/
      /*background: #E7FF00;*/
    }

    #grace-card .card-title {
       background:  #098500;
      /*background: #FFB533;*/
      /*background: #FFA200*/
         }

.navbar-brand {
	/*width: 10%;*/
	text-decoration: none;
	/*font-size: 3vw;*/
	/*height: 100%;*/
	padding: 0;
	font-family: 'ministry', sans-serif;
	font-weight: 700;
	flex-shrink: 2;
	/*color: #0600FF;*/
  color: #00FFCE !important;
}

p, a {
	font-size: 100%;
	font-family: 'ministry', sans-serif;
	font-weight: 300;
	/*color: white;*/
}

.navbar-nav {
	margin-left: 1rem;

}

/*a {
	color: #0600FF;
}*/

.nav-item {
	margin-right: 2rem;

}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
  /*background-color: #00FFCE !important;*/
  background-color: white !important;
  color: #02012F !important;
}

.bg-dark {
	background-color: black !important;
}


.p5div {
  width: 100%;
  height: 100%;

}

.article {
	text-align: left;
	margin-top: 1rem;
}

.article-body p {
	text-align: justify;
  color: white !important;
}
.article-placeholder {
	margin-top: 1rem;
	margin-left: 1.7rem;
	margin-right: 1.7rem;
}


.article-title h1, h1 {
	font-family: 'stenciletta-solid';
	font-weight: 700;
	/*color: #010033;*/
  color: white;
}

.byline {
	font-weight: 400;
	/*color: #010033;*/
  color: #00FFCE;
}

.author {
	font-weight: 400;
	/*color: #0500CC;*/
  color: #00FFCE;
}

.date {
	font-weight: 400;
	color: white;

}

.lead {
	font-size: 1.1rem;
	font-weight: 300;
}

#page-content {
	margin-right: 2px;
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.article-card {
  /*width: 33%;*/
  /*height: 50%;*/
  /*margin-right: 5px;*/
  /*margin-left: 2%;*/
  position: relative;
  /*margin-top: 3%;*/
  min-width: 300px;
  /*background: black; */

}

/*.image*/
/*.article-card img {
  width: 85%;
  height: auto;
  z-index: 0;
  height: 85%;
}*/


.article-card img {
  width: 85%;
  /*height: auto;*/
  z-index: 0;
}

.article-card .image1 {
  /*box-shadow: -10px 10px 0px rgba(1,0,61,1);*/
  /*box-shadow: -10px 10px 0px rgba(0,255,206,1);*/
  /*box-shadow: -10px 10px 0px rgba(0,255,206,.7);*/
  box-shadow: -10px 10px 0px rgba(255,255,255,1);
  transition: 0.3s;
}

.article-card .image2 {
  /*box-shadow: 10px 10px 0px rgba(1,0,61,1);*/
  /*box-shadow: 10px 10px 0px rgba(0,255,206,1);*/
  box-shadow: 10px 10px 0px rgba(255,255,255,1);
  transition: 0.3s;
}

.article-card .image1:hover {
  /*box-shadow: -10px 10px 0px rgba(6,0,255,1);*/
  /*box-shadow: -10px 10px 0px rgba(1,0,61,1);*/
  box-shadow: -10px 10px 0px rgba(0,255,206,1);
  transition: 0.3s;
}

.article-card .image2:hover {
  /*box-shadow: 10px 10px 0px rgba(6,0,255,1);*/
  /*box-shadow: -10px 10px 0px rgba(1,0,61,1);*/
  box-shadow: 10px 10px 0px rgba(0,255,206,1);
  transition: 0.3s;
}


/*.card-title:hover ~ .image1 {
  box-shadow: -10px 10px 0px rgba(6,0,255,1);
}
*/

.card-title {
  position: absolute; 
  bottom: 0; 
  background: #FF2138;
  /*background: rgba(0, 0, 0, 0.5); /* Black see-through */*/
  /*color: #f1f1f1; */
  /*width: 70%;*/
  height: auto;
  width: auto;
  transition: .5s ease;
  padding: 20px;
/*  margin-left: 30%;
  margin-bottom: 5%;*/
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  min-width: 250px;
}

.card-title h2 {
  font-family: 'stenciletta-solid';
  font-weight: 600;
  color: white;
  /*color: #010033;*/
  text-align: left;
  /*margin: 0;*/
  font-size: 1.1rem;
}


.card-title p {
  text-align: left;
  color: white;
  /*color: #010033;*/
  font-family: 'Ministry';
  font-weight: 300;
  font-size: .8rem;
  margin-bottom: 0%;
}

/*
.card-title:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}*/

/*.card-title:hover h2, p {
  color: black;
}*/


/*@media screen and (max-width: 767px) {

}

@media screen and (max-width: 505px) {


}

@media screen and (max-width: 450px) {

}

@media screen and (max-width: 383px) {

}

@media screen and (max-width: 350px) {

}
*/


.sorting-button {
	color: #020066;
	background-color: white; 
	box-shadow: none;
	margin-bottom: 1%;
	font-family: 'Ministry';
	font-weight: 500;
}

.sorting-button:hover {
	color: white;
	background-color: #020066;
}

#article-list li {
	margin-top: 2%;
	list-style-type: none;

}

#article-list a {
	/*navy*/
	color: #020066;
}

#article-list h6 {
	font-weight: 400;
}
/** {box-sizing: border-box;}*/

#mc_embed_signup input{
  font-family: 'Ministry';
}

#mc_embed_signup .clear input {
  color: white !important;
  background-color: #0500CC !important;
}

#mc_embed_signup .clear input:hover {
  color: white !important;
  background-color: #0DB000 !important;
}


#coming_soon {
  width: 100%; text-align: center; font-family: 'Ministry' !important; margin-top: 15%;
}
@media (max-width: 769px) {
#mc_embed_signup form {
  width: 70% !important;
  margin-left: 15%;
}

#coming_soon {
  margin-top: 60% !important;
}
}

/*@media screen and (max-width: 505px) {


}

@media screen and (max-width: 450px) {

}

@media screen and (max-width: 383px) {

}

@media screen and (max-width: 350px) {

}*/