
@import url("https://use.typekit.net/grm6kxy.css");

header, body {
  background-color: 
#02012F
  ;
}


body{
	/*background-color: #00FFCE12;*/
	/*background-color: #F3FDF2;*/
	/*background-color: #EDFFFC;*/
}

.article-body p {
  text-align: justify;
  color: white !important;
}

/*more than 1 card per row*/
@media screen and (min-width: 751px) {
  .article-card {
    width: 33%;
    margin-top: 3%;
    } 

    #tona-card .card-title {
      margin-left: 30%; margin-bottom: 0%; 
    }

    #tom-card .card-title {
      margin-right: 30%; margin-bottom: 35%;
    }

    #rastra-card .card-title {
      margin-right: 20%; margin-left: 5%; margin-bottom: 0%;"
    }

    #munib-card .card-title {
      margin-right: 20%;margin-bottom: 0;
    }

    #jihyun-card .card-title {
      margin-left: 27%; margin-bottom: 42%;
    }

    #lujain-card .card-title {
      margin-right: 0%; margin-bottom: 5%; margin-left: 27%;
    }

    #grace-card .card-title {
      margin-right: 20%; margin-left: 5%; margin-bottom: 0%; height: auto;
    }
}


/*add middle tablet mode*/

/*only 1 card per row*/
@media screen and (max-width: 750px) {
  .article-card {
    width: 80%;
    margin-top: 10%;
    } 

     #tona-card .card-title {
      margin-left: 22%; margin-bottom: 0%;
    }

    #tom-card .card-title {
     margin-right: 30%; margin-bottom: 38%;
    }

    #rastra-card .card-title {
      margin-right: 22%; margin-left: 0%; margin-bottom: 0%;
    }

    #munib-card .card-title {
      margin-right: 20%;margin-bottom: 0;
    }

    #jihyun-card .card-title {
       margin-left: 23%; margin-bottom: 38%;
    }

    #lujain-card .card-title {
      margin-right: 0%; margin-bottom: 5%; margin-left: 22%;
    }

    #grace-card .card-title {
      margin-right: 20%; margin-left: 5%; margin-bottom: 0%; height: auto;
    }

}

    #tona-card .card-title {
      background: #CC1B2C;
      /*background: #FF2138;*/
      /*background: #FF4E54;*/
    }

    #tom-card .card-title {
      background:#CC8200;
      /*background: #10DD00;*/
      /*background: #40E333;*/
    }

    #rastra-card .card-title {
      background:  #098500;
      /*background:#0DB000; */
      /*background:#FFB533;*/
      /*background: #FFA200;*/
    }

    #munib-card .card-title {
       background:#CC8200;
      /*background: #F533FF;*/
      /*background: #E7FF00;*/
    }

    #jihyun-card .card-title {
      background: #0500CC; 
      /*background: #EBFF33;*/
      /*background: #F100FF;*/
    }

    #lujain-card .card-title {
      background: #CC1B2C;
      /*background: #FF4E5F;*/
      /*background: #E7FF00;*/
    }

    #grace-card .card-title {
       background:  #098500;
      /*background: #FFB533;*/
      /*background: #FFA200*/
         }


p, a {
	font-size: 100%;
	font-family: 'ministry', sans-serif;
	font-weight: 300;
}




html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}


.bg-dark {
	background-color: black !important;
}


.p5div {
  width: 100%;
  height: 100%;

}


.article-title h1, h1 {
	font-family: 'stenciletta-solid';
	font-weight: 700;
	/*color: #010033;*/
  color: white;
}

.byline {
	font-weight: 400;
	/*color: #010033;*/
  color: #00FFCE;
}

.author {
	/*font-weight: 500;*/
	/*color: #0500CC;*/
  color: #00FFCE;
}

.author:hover {
  color: white;
}

.date {
	font-weight: 400;
	color: white;

}

.lead {
	font-size: 1.1rem;
	font-weight: 300;
}

#page-content {
	margin-right: 2px;
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.article-card {
  /*width: 33%;*/
  /*height: 50%;*/
  /*margin-right: 5px;*/
  /*margin-left: 2%;*/
  position: relative;
  /*margin-top: 3%;*/
  min-width: 300px;
  /*background: black; */

}


.article-card img {
  width: 85%;
  /*height: auto;*/
  z-index: 0;
}

@media (min-width: 1450px) {
  .container {
    max-width: 1250px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1300px;
  }
}


.article-card .image1 {
  /*box-shadow: -10px 10px 0px rgba(1,0,61,1);*/
  /*box-shadow: -10px 10px 0px rgba(0,255,206,1);*/
  /*box-shadow: -10px 10px 0px rgba(0,255,206,.7);*/
  box-shadow: -10px 10px 0px rgba(255,255,255,1);
  transition: 0.3s;
}

.article-card .image2 {
  /*box-shadow: 10px 10px 0px rgba(1,0,61,1);*/
  /*box-shadow: 10px 10px 0px rgba(0,255,206,1);*/
  box-shadow: 10px 10px 0px rgba(255,255,255,1);
  transition: 0.3s;
}

.article-card .image1:hover {
  /*box-shadow: -10px 10px 0px rgba(6,0,255,1);*/
  /*box-shadow: -10px 10px 0px rgba(1,0,61,1);*/
  box-shadow: -10px 10px 0px rgba(0,255,206,1);
  transition: 0.3s;
}

.article-card .image2:hover {
  /*box-shadow: 10px 10px 0px rgba(6,0,255,1);*/
  /*box-shadow: -10px 10px 0px rgba(1,0,61,1);*/
  box-shadow: 10px 10px 0px rgba(0,255,206,1);
  transition: 0.3s;
}




/*.card-title:hover ~ .image1 {
  box-shadow: -10px 10px 0px rgba(6,0,255,1);
}
*/

.card-title {
  position: absolute; 
  bottom: 0; 
  background: #FF2138;
  /*background: rgba(0, 0, 0, 0.5); /* Black see-through */*/
  /*color: #f1f1f1; */
  /*width: 70%;*/
  height: auto;
  width: auto;
  transition: .5s ease;
  padding: 20px;
/*  margin-left: 30%;
  margin-bottom: 5%;*/
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  min-width: 250px;
}

.card-title h2 {
  font-family: 'ministry', sans-serif;
  font-weight: 600;
  color: white;
  /*color: #010033;*/
  text-align: left;
  /*margin: 0;*/
  font-size: 1rem;
}

.card-link .card-title:hover ~ .card-img {
  background-color: black;
}


.card-title p {
  text-align: left;
  color: white;
  /*color: #010033;*/
  font-family: 'ministry', sans-serif !important;
  font-weight: 300;
  font-size: .8rem;
  margin-bottom: 0%;
}



#mc_embed_signup input{
  font-family: 'ministry', sans-serif;
  font-weight: 400;
}

#mc_embed_signup .clear input {
  color: #02012F!important;
  background-color: #00FFCE !important;
}

#mc_embed_signup .clear input:hover {
  /*color: #00FFCE !important;*/
  color: white !important;
  background-color: #0600FF !important;
}


#coming_soon {
  width: 100%; text-align: center; font-family: 'ministry' !important; margin-top: 15%;

  -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#coming_soon h1 {
  font-size: 3rem;
  color: #CC1B2C; 
  margin-bottom: 1%;

}

#coming_soon h4 {
  color: white;
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
}


@media (max-width: 769px) {
#mc_embed_signup form {
  width: 70% !important;
  margin-left: 15%;
}

  #coming_soon {
  margin-top: 40% !important;
}

}


@media (max-width: 420px) {
#coming_soon {
  margin-top: 60% !important;
}
}


/*@media (max-width: 376px) {
#coming_soon {
  margin-top: 65% !important;
}
}*/

@media (max-width: 321px) {
#coming_soon {
  margin-top: 55% !important;
}
}

.white-teal-filter {
 filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(194deg) brightness(104%) contrast(100%);
}

.white-teal-filter:hover {
  /*white*/
   filter: invert(75%) sepia(99%) saturate(775%) hue-rotate(100deg) brightness(101%) contrast(101%);*/
}

.team {
  width: 80%;
}

.team-container {
  width: 20%;
  /*background-color: white;*/
  height: auto;
  position: relative;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 5%;
  /*clear: left;*/
  min-width: 228px;

}

.team-container .team-img{
  width: 100%;
  /*box-shadow: -5px 5px 0px rgba(255,255,255,1);*/
    box-shadow: 3px -3px 0px rgba(2,1,47,1);

}

.team-container .team-img:hover {
  /*box-shadow: -3px 3px 0px rgba(0,255,206,1);*/
  box-shadow: 3px -3px 0px rgba(255,255,255,1);
}

.team-container .team-card {
  font-size: .8rem;
  text-align: justify; 
  bottom: 0; 
  /*background: red;*/
  width: 100%;
  /*height: 100%;*/
  /*width: auto;*/
  transition: .5s ease;
  padding-top: 5px;

  transition: 0.3s;
  /*min-width: 250px;*/
}
.team-card p {
  font-size: 1rem;
  font-family: 'ministry',sans-serif;
  margin-bottom: 0 !important;
}

.team-card h2 {
  font-size: 1rem;
  /*font-style: bold;*/
  font-family: 'ministry', sans-serif;
  /*font-weight: 600;*/
  float: left;
  text-align: left;

  color: white;

}
.team-card h3{
  font-size: .9rem;
  /*font-style: bold;*/
  font-family: 'ministry', sans-serif;
  /*font-weight: 600;*/
  float: left;
  text-align: left;
  color: #00FFCE;
}

.team-name {
  width: 100%;
  margin-top: 1%;
}

.about-link {
  /*margin-top: 5%;*/

}


.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.row            { 
  -webkit-flex-direction: row; 
  flex-direction: row;
}

.column { 
  -webkit-flex-direction: column; 
  flex-direction: column; 
  float: left;
}


.about-body p {
  text-align: center;
  color: white !important;
  font-weight: 400;
  margin-top: 2%;
}

@media (min-width: 992px) {

  .about-body p {
   margin-right: 20%; 
    margin-left: 20%; 
}
}

@media (max-width: 991px) {

  .about-body p {
    margin-right: 10%; 
    margin-left: 10%; 
}
}

@media (max-width: 768px) {

  .about-body p {
    margin-right: 5%; 
    margin-left: 5%; 
}
}


.card-title p {
  font-size: .925rem;
}


@media (min-width: 1366px) {
.card-title  p {
  font-size: 1rem !important;
}


}

@media (min-width: 1920px) {
.card-title  p {
  font-size: 1.025rem !important;
}
}

@media (min-width: 2560px) {
.card-title  p {
  font-size: 1.05rem !important;
}

}


