
@import url("https://use.typekit.net/grm6kxy.css");
@media screen and (max-width: 600px) {
    .column {
      width: 100vh;
    }
}

.navbar-toggler-icon {
 background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(91,16,22,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}


body, html {
    height: 100vh;
    display:block;
    background-color: #fff7f8;
    margin: 0;
}

body {
  overflow-x: hidden;
}

#page-content a {
  color: #10a701 !important;
  text-decoration: none !important;
}

#page-content a:hover {
  border-bottom: 1px dotted #10a701 !important;
} 


hr {
    width: 10vw !important;  
    margin-top: 40px !important; 
    margin-bottom: 40px !important;
    /*color: red;*/
    border: 1px solid grey !important;
}

#header {
  background-color: #fff4ff;
}

/*
h2 {
    font-size: 2vw; 
    margin-top:40px;
    margin-bottom: 10px;
    font-family: 'stenciletta-solid';
    color: #5b1016;
}
*/


h4 {
    /*font-size: 2vw; */
    margin-top:40px;
    margin-bottom: 10px;
    font-family: 'stenciletta-solid';
    color: #5b1016;
}


h3 {
    color:#bcaa73;
    font-size: 16px;
}


blockquote {
  font-family: ministry, sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  border-left-style: dashed;
  border-left-width: 4px;
  border-left-color: #0DB000;
  padding: 10px;
  text-align:justify;
}

.author {
  font-weight: 400;
  color: #0DB000;
}

.byline {
  color: black;
}

.articleTitle {
  color: #5b1016;
  text-align: center;
  font-weight: 300;
  font-family: 'stenciletta-solid';
  font-style: normal;
  font-size: 2.5vw;
  margin: 0px;
  margin-bottom: 10px;
  display: inline-block;
}

.date {
  color: black
}

#sublogo {
  font-weight: 300;

}

#extras {
  text-align: center;
}

*  {
  text-align: left;
}


p {
  font-family: ministry;
  font-style: normal;
  color: black;
  font-weight: 300;
  /*font-size: 1.3vw;*/
  text-align:left;
}

.content {
  margin-top:50px; 
  margin-left: 20vw; 
  margin-right: 20vw; 
  margin-bottom: 50px; 
}

::selection {
  background: #c8f7c5; 
}
::-moz-selection {
  background: #c8f7c5; 
}

#offset {
  animation: letter-flicker 2s linear infinite;
}


.tooltip-m {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  color:#10a701;
}
.tooltip-m .tooltiptext-m {
  visibility: hidden;
  width: 280px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 3px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -140px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 1.2vw;
}

.tooltip-m .tooltiptext-m::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  font-size: 1.2vw;
}

.tooltip-m:hover .tooltiptext-m {
  visibility: visible;
  opacity: 1;
}



.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-container p {
  color: #5b1016;
  text-align: center;
  font-weight: 300;
  font-family: 'stenciletta-solid';
  font-style: normal;
  /*font-size: 2.5vw;*/
  font-size: 2rem;
  margin: 0px;
  margin-bottom: 10px;
  display: inline-block;
  overflow: hidden;
}

.navbar-brand:hover {
  color:#5b1016 !important;
}

.nav-link:hover {
  color: #10a701 !important;
}
@media (max-width: 450px) {
  .title-container p {
    font-size: 1.8rem;
  }
}
@media (min-width: 1600px) {
  .title-container p {font-size: 2.5rem}
}


.title-container p span.typed-text {
  font-weight: normal;
}
.title-container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.title-container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

