
@import "lujain-styles.scss";
@import url("https://use.typekit.net/grm6kxy.css");
::selection {
background: #ffb7b7; 
}
::-moz-selection {
background: #ffb7b7; 
}
.column {
float: left;
width: 50%;
}

.row:after {
content: "";
display: table;
clear: both;
}    
@-webkit-keyframes ticker {
    0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
    }
    100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    }
}
@keyframes ticker {
    0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
    }
    100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    }
}
.ticker-wrap {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    height: 4rem;
    background-color:#a5997f;
    padding-left: 100%;
    z-index: 20;
}

.ticker {
    display: inline-block;
    height: 4rem;
    line-height: 4rem;
    white-space: nowrap;
    padding-right: 100%;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 350s;
    animation-duration: 350s;

}
.ticker_item {
    display: inline-block;
    padding: 0 2rem;
    font-size: 2rem;
    color:black;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    
}
    h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    color: #ff2238; 
    font-size:80px;
    margin-top: 100px;
    margin-bottom:0px;
    }
    @keyframes shake {
    0% { transform: skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    15% { transform: skewX(15deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }  
    }
h2 {
    font-family: 'VT323', monospace; 
    font-size: 50px; 
    margin-top:0px;
    margin-bottom: 50px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: black;
    -moz-background-clip: text;
    -moz-text-fill-color: black;
    -ms-background-clip: text;
    -ms-text-fill-color: black;
    background-clip: text;
    animation: .11s shake infinite alternate;

}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    color: #ff2238; 
    font-size:30px;
    /* margin-top: 100px;
    margin-bottom:0px; */
}
p {
    font-family: ministry;
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
}
body {
display: block;
margin: 0px;
    } 
a{
    color:#3a3ffb;
    text-decoration: none;
}
a:hover{
    color:white;
    text-decoration: none;
    background-color: #3a3ffb;
}

