@import url("https://use.typekit.net/grm6kxy.css");

.navbar-toggler-icon {
 background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(253,255,142,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

/*@media screen and (max-width: 600px) {
    .column {
      width: 100vh;
    }
    #tweet {
      display: none;
    }
    }*/
@keyframes screen-turn-on {
    0% {
        width: 0%;
        height: 1px;
        border-radius: 0px;
        background-color: #b0b0b0;
    }
    50% {
        width: 100%;
        height: 1px;
        border-radius: 0px;
        background-color: #b0b0b0;
    }
    51% {
        width: 100%;
        height: 1px;
        border-radius: 0px;
        background-color: #b0b0b0;
    }
    70% {
        width: 100%;
        height: 1px;
        border-radius: 0px;
        background-color: #b0b0b0;
    }
    80% {
        width: 100%;
        height: calc(100vh - 60px);
        border-radius: 5px;
        background-color: #b0b0b0;
    }
    100% {
        width: 100%;
        height: calc(100vh - 60px);
        border-radius: 5px;
        background-color: #454545;
    }
}
@keyframes shiver {
    0%   {  transform: translate(1px, 1px); text-shadow: 6px 0 rgba(255,0,0,0.9), -6px 0 rgba(0,0,255,0.9);  }
    5%   {  transform: translate(1px, 1px); text-shadow: 3px 0 rgba(255,0,0,0.9), -3px 0 rgba(0,0,255,0.9);  }
    10%  {  transform: translate(1px, 1px); text-shadow: 5px 0 rgba(255,0,0,0.9), -5px 0 rgba(0,0,255,0.9);  }
    15%  {  transform: translate(1px, 1px); text-shadow: 7px 0 rgba(255,0,0,0.9), -7px 0 rgba(0,0,255,0.9);  }
    20%  {  transform: translate(1px, 2px); text-shadow: 2px 0 rgba(255,0,0,0.9), -2px 0 rgba(0,0,255,0.9);  }
    25%  {  transform: translate(1px, 2px); text-shadow: 2px 0 rgba(255,0,0,0.9), -2px 0 rgba(0,0,255,0.9);  }
    30%  {  transform: translate(1px, 2px); text-shadow: 3px 0 rgba(255,0,0,0.9), -3px 0 rgba(0,0,255,0.9);  }
    35%  {  transform: translate(1px, 2px); text-shadow: 2px 0 rgba(255,0,0,0.9), -2px 0 rgba(0,0,255,0.9);  }
    40%  {  transform: translate(2px, 1px); text-shadow: 2px 0 rgba(255,0,0,0.9), -2px 0 rgba(0,0,255,0.9);  }
    45%  {  transform: translate(2px, 1px); text-shadow: 3px 0 rgba(255,0,0,0.9), -3px 0 rgba(0,0,255,0.9);  }
    50%  {  transform: translate(2px, 1px); text-shadow: 3px 0 rgba(255,0,0,0.9), -3px 0 rgba(0,0,255,0.9);  }
    55%  {  transform: translate(2px, 1px); text-shadow: 4px 0 rgba(255,0,0,0.9), -4px 0 rgba(0,0,255,0.9);  }
    60%  {  transform: translate(1px, 1px); text-shadow: 2px 0 rgba(255,0,0,0.9), -2px 0 rgba(0,0,255,0.9);  }
    65%  {  transform: translate(1px, 1px); text-shadow: 5px 0 rgba(255,0,0,0.9), -5px 0 rgba(0,0,255,0.9);  }
    70%  {  transform: translate(1px, 1px); text-shadow: 3px 0 rgba(255,0,0,0.9), -3px 0 rgba(0,0,255,0.9);  }
    75%  {  transform: translate(1px, 1px); text-shadow: 2px 0 rgba(255,0,0,0.9), -2px 0 rgba(0,0,255,0.9);  }
    80%  {  transform: translate(2px, 1px); text-shadow: 5px 0 rgba(255,0,0,0.9), -5px 0 rgba(0,0,255,0.9);  }
    85%  {  transform: translate(2px, 1px); text-shadow: 3px 0 rgba(255,0,0,0.9), -3px 0 rgba(0,0,255,0.9);  }
    90%  {  transform: translate(2px, 2px); text-shadow: 5px 0 rgba(255,0,0,0.9), -5px 0 rgba(0,0,255,0.9);  }
    95%  {  transform: translate(2px, 2px); text-shadow: 2px 0 rgba(255,0,0,0.9), -2px 0 rgba(0,0,255,0.9);  }
    100% {  transform: translate(1px, 2px); text-shadow: 3px 0 rgba(255,0,0,0.9), -3px 0 rgba(0,0,255,0.9);  }
}
#screen {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: -1;
}
body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    background-color:#181818;
    overflow-x: hidden;
}
html {
  height: 100%;
  overflow-x: hidden;
}

#screen {
    /*margin: 30px;*/
    /*margin-left: 22px;*/
    margin-bottom: 30px;
    margin-top: 10px;
    /*margin-left: 22px;*/
    /*margin-top: 30px;*/
    height: calc(50vh - 60px);
    /*width: calc(100vw - 60px);*/
    width: 100%;
    background: #0a0a0a;
    color: #fff;
    text-shadow: 2px 0 rgba(255, 0, 0, 0.9), -2px 0 rgba(0, 0, 255, 0.9);
    border-radius: 5px;
}



.overlay {
    content: "";
    position: absolute;
    background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.2) 33.3%, rgba(255, 255, 255, 0.4) 33.3%, rgba(255, 255, 255, 0.4) 66.7%, rgba(255, 255, 255, 0.6) 66.7%), -webkit-linear-gradient(left, rgba(255, 0, 0, 0.7) 33.3%, rgba(0, 255, 0, 0.7) 33.3%, rgba(0, 255, 0, 0.6) 66.7%, rgba(0, 0, 255, 0.6) 66.7%);
    background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.2) 33.3%, rgba(255, 255, 255, 0.4) 33.3%, rgba(255, 255, 255, 0.4) 66.7%, rgba(255, 255, 255, 0.6) 66.7%), -webkit-linear-gradient(left, rgba(255, 0, 0, 0.7) 33.3%, rgba(0, 255, 0, 0.7) 33.3%, rgba(0, 255, 0, 0.6) 66.7%, rgba(0, 0, 255, 0.6) 66.7%);
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2) 33.3%, rgba(255, 255, 255, 0.4) 33.3%, rgba(255, 255, 255, 0.4) 66.7%, rgba(255, 255, 255, 0.6) 66.7%), linear-gradient(to right, rgba(255, 0, 0, 0.7) 33.3%, rgba(0, 255, 0, 0.7) 33.3%, rgba(0, 255, 0, 0.6) 66.7%, rgba(0, 0, 255, 0.6) 66.7%);
    background-size: 3px 3px;
    mix-blend-mode: multiply;
    border-radius: 5px;
    background-color: #00f;
    opacity: 85%;
    width: 100%;
    height: 100%;
}


/*#screen:after {
    content: "";
    position: absolute;
    top: 30px;
    bottom: 30px;
    right: 30px;
    left: 30px;
    background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.2) 33.3%, rgba(255, 255, 255, 0.4) 33.3%, rgba(255, 255, 255, 0.4) 66.7%, rgba(255, 255, 255, 0.6) 66.7%), -webkit-linear-gradient(left, rgba(255, 0, 0, 0.7) 33.3%, rgba(0, 255, 0, 0.7) 33.3%, rgba(0, 255, 0, 0.6) 66.7%, rgba(0, 0, 255, 0.6) 66.7%);
    background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.2) 33.3%, rgba(255, 255, 255, 0.4) 33.3%, rgba(255, 255, 255, 0.4) 66.7%, rgba(255, 255, 255, 0.6) 66.7%), -webkit-linear-gradient(left, rgba(255, 0, 0, 0.7) 33.3%, rgba(0, 255, 0, 0.7) 33.3%, rgba(0, 255, 0, 0.6) 66.7%, rgba(0, 0, 255, 0.6) 66.7%);
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2) 33.3%, rgba(255, 255, 255, 0.4) 33.3%, rgba(255, 255, 255, 0.4) 66.7%, rgba(255, 255, 255, 0.6) 66.7%), linear-gradient(to right, rgba(255, 0, 0, 0.7) 33.3%, rgba(0, 255, 0, 0.7) 33.3%, rgba(0, 255, 0, 0.6) 66.7%, rgba(0, 0, 255, 0.6) 66.7%);
    background-size: 3px 3px;
    mix-blend-mode: multiply;
    border-radius: 5px;
    background-color: #00f;
    opacity: 90%;
}
*/
.on #screen {
    background-color: #222;
}
#content-holder {
    padding: 0;
    height: calc(50vh - 60px);
    /*width: calc(100vw - 60px);*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    overflow: hidden;
}
#content {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    overflow: hidden;
    height: 100%;
    position: relative;
}
.on #content {
    /*animation: screen-turn-on .4s linear .5s 1 forwards;*/
    animation: screen-turn-on .7s linear 0s 1 forwards;*/
}
#power {
    bottom: 12px;
    width: 35px;
    height: 5px;
    position: absolute;
    right: 45px;
    background-color: #0600ff;
    cursor: pointer;
}
.on #power {
    background-color: #0035ff;
    box-shadow: 0px 0px 20px 2px #0035ff;
}
#channel {
    position: absolute;
    top: 15px;
    left: 25px;
    font-size: 1.7vw;
    font-weight: 400;
    font-family: ministry;
    font-style: normal;
    vertical-align: middle;
    color: #f4ff8e;
    animation: shiver 1s linear .5s infinite;
    z-index: 20;
}
#text {
    color: #ededed;
    text-align: center;
    text-transform: uppercase;
    font-size: 4.2vw;
    /*font-size: 3.5rem;*/
    animation: shiver 1s linear .5s infinite;
    font-weight: 300;
    font-family: 'stenciletta-solid';
    font-style: normal;
    /*margin-top: 75px; */
    margin-bottom: 0px; 
    margin-left: 15px; 
    margin-right: 20px;
    flex-shrink: 1;

           margin-bottom: 10%;
        height: 80%;
        margin-top: 10%;

}
p {
    font-family: 'ministry';
    font-style: normal;
    color: white;
    font-weight: 300;
    font-size: 1.3vw;
    text-align:left;
}

h1 {
    color: #f9ffc5; 
    font-family: ministry;
    font-size: 1.3vw;
    font-weight: 400;
}
.content {
    margin-top:50px; 
    margin-left: 20vw; 
    margin-right: 20vw; 
    margin-bottom: 50px; 
}

blockquote {
    font-family: ministry;
    font-style: italic;
    color: white;
    border-left-style: dashed;
    border-left-width: 4px;
    border-left-color: #3a3ffb;
    padding: 20px;
    /*font-size: 1.3vw !important;*/
    font-size: 100%;
    font-weight: 100;
    text-align: left !important;
    margin-left: 2.5rem  !important;
    margin-right: 2.5rem !important;
}

::selection {
    background: #f9ffc5; 
    color: black;
}
::-moz-selection {
    background: #f9ffc5; 
    color: black;
}
.column {
    float: left;
    /*width: 50%;*/
    width: 100%;
}


.row-m:after {
    content: "";
    display: table;
    clear: both;
}  
#page-content a {
    color: #f4ff8e;
    text-decoration: none;
    z-index: 1000;
}

#page-content a:hover {
    color: #f4ff8e;
    border-bottom: 1px dotted #f9ffc5;
}
 .writer{
    text-decoration: none;
    color: #f4ff8e;
}

.byline {
    text-align: center; 
    margin-top: 20px;
    margin-left: 75px; 
    margin-right: 75px; 
    font-weight: 400; 
    font-size: 1.5vw;

    text-shadow: 1px 0 rgba(255, 0, 0, 0.9), -1px 0 rgba(0, 0, 255, 0.9);
}

#tweet {
    margin-right: 30px; 
    margin-top: 60px; 
    margin-bottom: 60px; 
    margin-left: 50px;
}

@media (min-width: 2370px) {
    #text {
        font-size: 1.7vw;
    }
}
@media (min-width: 1600px) {
    #text {
        font-size: 3.2vw;
    }
}

@media (max-width: 999px) {
    #tweet {
        display: none;
    }

    #text {
        margin-bottom: 15%;
    }
}

@media (max-width: 998px) {
    #text {
        font-size: 4.2vw;
    }
    .byline {
        font-size: 1.9vw;
    }
}

@media (max-width: 850px) {
    #text {
        font-size: 5.5vw;
               margin-bottom: 20%;
        height: 60%;
        margin-top: 20%;
    }

    #content-holder {
        height: calc(40vh - 20px);
    }

    #screen {
        height: calc(40vh - 20px);
    }


}

@media (max-width: 700px) {
    .byline {
        display: none;
    }
    #text {
        font-size: 7.5vw;
    }
}



@media (max-width: 540px) {
    #text {
        font-size: 8.8vw;

    }


#content-holder {
        height: calc(35vh - 20px);
    }

    #screen {
        height: calc(35vh - 20px);
    }

}

@media (max-width: 400px) {
    #text {
        font-size: 8.4vw;
    }

}

hr {
    width: 10vw !important;  
    margin-top: 40px !important; 
    margin-bottom: 40px !important;
    /*color: red;*/
    border: 1px solid grey !important;
}

.navbar-brand:hover {
    color: white !important;
}

.nav-link:hover {
    color: white !important;
}

.tooltip-m {
    position: relative ;
    display: inline-block;
    border-bottom: 1px dotted #f4ff8e;
    color: #f4ff8e; 
}

.tooltip-m:hover {
/*border-bottom: 1px dotted #f4ff8e;*/
text-decoration: none !important;
}

.tooltip-m .tooltiptext-m {
    visibility: hidden;
    width: 280px;
    background-color: #555 !important!;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 3px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -140px;
    opacity: 0;
    transition: opacity 0.3s;
    /*font-size: 1.2vw;*/
    font-size: .9rem;
}

.tooltip-m .tooltiptext-m::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    /*font-size: 1.2vw;*/
    font-size: .9rem;
}

.tooltip-m:hover .tooltiptext-m {
    visibility: visible;
    opacity: 1;
}

