@import url("https://use.typekit.net/grm6kxy.css");
@media screen and (max-width: 600px) {
    .column {
      width: 100vh;
    }
}

.navbar-toggler-icon {
 background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0,255,206,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

:root {
	--secondary: rgb(235, 26, 201);
	--background: white;
	--primary: #470374;
}
::selection {
	background-color: black;
	color: var(--background);
}

body {
	background-color: var(--background);
	color: var(--primary);
}

#logo { color: var(--secondary); }
#logo:hover { color: var(--primary); }
#suffix { color: var(--primary); }
#abt { color: var(--secondary); }

.asset-left {
	text-align: left;
	margin-bottom: 35px;
	margin-left: 0;
}
.asset-right {
	text-align: right;
	margin-bottom: 35px;
	margin-right: 0;
}

.boomTssTak {
	visibility: hidden;
	display: inline;
	font-size: 120px;
	font-family: ministry;
}

#flex-wrapper, .flourish-table{ margin: auto; }

p {
	margin-left: auto;
	margin-right: auto;
}

p.subtitle {
	color: var(--secondary);
	text-align: center !important;
	font-style: italic;
}

a {
	color: var(--secondary);
	text-decoration: none;
}
a:hover {
	color: var(--primary);
	text-decoration: none;
}

h2 {
	font-size: 80px;
	color: var(secondary);
	line-height: 45%
}

.music {
	float: right;
}

.cube-wrap {
	height: 600px;
	margin: auto;
	display: flex;
	justify-content: center;
	perspective: 1200px;
}

.cube {
	width: 600px;
	height: 360px;
	margin-top: 100px;
	transform-style: preserve-3d;
	transform: rotateX(15deg);
} 

.face {
	width: inherit;
	height: inherit;
	position: absolute;
	border: 12px solid var(--primary);
}

.front {transform: translate3d(0, 0, 180px);}
.back {transform: rotateX(180deg) translate3d(0, 0, 180px);}
.top {transform: rotateX(90deg) translate3d(0, 0, 180px);}
.bottom {transform: rotateX(-90deg) translate3d(0, 0, 180px);}

.vid-wrapper {
	position: relative;
	padding-bottom: 60.25%;
}
.vid {
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
}

.tab-table {
	margin: auto;
	width: 73%;
}

.articleImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: auto;
  width: 50%;
}