
@import url("https://use.typekit.net/grm6kxy.css");
@media screen and (max-width: 600px) {
    .column {
      width: 100vh;
    }
}
body, html {
    height: 100vh;
    display:block;
    background-color: #fdffec;
    margin: 0;
}

a { color: #0DB000; } /* CSS link color (green) */
a:hover { color: #0DB000; } /* CSS link hover (green) */


#header {
  background-color: #f3eee8;
}

#content {
  background-color: #f3eee8;
}

.byline {
  color:#bcaa73;
}

h2 {
    font-size: 20px; 
    margin-top:40px;
    margin-bottom: 10px;
}

h3 {
    color:#bcaa73;
    font-size: 16px;
}


blockquote {
  font-family: ministry, sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  border-left-style: dashed;
  border-left-width: 4px;
  border-left-color: #0DB000;
  padding: 10px;
  text-align:justify;
}

.author {
  font-weight: 400;
  color: #0DB000;
}

.articleTitle {
  color: #bcaa73;
}

.date {
  color: #bcaa73
}

#sublogo {
  font-weight: 300;

}

#extras {
  text-align: center;
}

*  {
  text-align: left;
}

